@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.App {
  color: black;
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
}

.container {
  width: 400px;
  padding: 1rem;
  background-color: white;
}

.tabs-list {
  list-style-type: none;
  padding: 0;
}

.tab-item {
  list-style: none;
  margin-bottom: 1rem;
  padding: 1rem;
  border: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  background-color: #f9f9f9;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tab-item span {
  font-weight: bold;
  color: #333;
  cursor: pointer;
}

.tab-item div {
  color: #666;
  font-size: 0.9rem;
  margin-top: 0.5rem;
}

.tab-item button {
  padding: 0.5rem 1rem;
  border: none;
  background-color: #d32020;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.tab-item button:hover {
  background-color: #0056b3;
}

.tab-item button:active {
  background-color: #004085;
}

.threshold-buttons-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.threshold-button {
  padding: 10px 20px;
  margin-right: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 20px;
  background-color: #fff;
  color: #333;
  font-size: 16px;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.threshold-button:hover {
  background-color: #f0f0f0;
}

.threshold-button.selected {
  background-color: #007bff;
  color: #fff;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: #eceff1;
}

.logo-image {
  width: 150px;
  height: auto;
  margin-bottom: 1rem;
}

.logo-text {
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
  color: #333;
  margin-right: 8px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.logo-svg {
  width: 50px;
  height: auto;
  vertical-align: middle;
  margin-bottom: 4px;
}

.logo-container {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background: white;
  cursor: pointer;
  margin-bottom: 20px;
  margin-top: 20px;
}

.dropdown-indicator {
  display: inline-block;
  margin-left: 5px;
  transition: transform 0.3s ease;
}

.dropdown-indicator::after {
  content: '';
  display: inline-block;
  vertical-align: middle;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 6px solid #333;
  margin-left: 2px;
}

.dropdown-indicator.open::after {
  transform: rotate(180deg);
}